{% extends 'layout/base.html' %}

{% block title %}Home page{% endblock %}

{% block content %}

<h1 class>The most common rooms.</h1>

<section id="gallery" >
  <div class="container">
    <div class="row">
        {% for r in rooms %}
        <div class="col-lg-3 mb-3">
            <div class="card" style="background-color: #eee;">
              <img src="{{ url_for('static', filename=r.thumbnail) }}" alt="" class="card-img-top w-100" style="height: 300px; object-fit: cover;" >

                <div class="card-body ">
                    <h5 class="card-title"><i>{{ r.roomType.name }}</i></h5>
                    <h4 class="card-title text-right "><b>${{ "{:,.0f}".format(r.roomType.price)}}</b></h4>
                    <p class="card-text">{{ r.note }}</p>
                    <a href="" class="btn btn-outline-success btn-sm">View details</a>
                    <a href="" class="btn btn-outline-warning btn-sm"><i class="far fa-heart">Book now</i></a>
              </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</section>

{% if pages > 1 %}
<nav aria-label="Page navigation example">
  <ul class="pagination mt-1 justify-content-center">

      <li class="page-item">
          {% if current_page > 1 %}
          <a class="page-link" href="/?page={{current_page - 1}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
          {% endif %}
    </li>

    {% for i in range(1, pages + 1) %}
        <li class="page-item"><a class="page-link" href="/?page={{ i }}">{{ i }}</a></li>
    {% endfor %}

    <li class="page-item">

     {% if current_page < pages %}
      <a class="page-link" href="/?page={{ current_page + 1 }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
      {% endif %}
    </li>
  </ul>
</nav>
{% endif %}

{% endblock %}

