{% block css %}
 <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-lg-3 py-lg-3 shadow-sm sticky-top ">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold fs-5 h-font" href="{{ url_for('home') }}" style="font-family: 'Merienda'">DREAM HOTEL</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02 ">
      <ul class="navbar-nav mb-2 mb-lg-0 justify-content-around ms-auto">

        <li class="nav-item me-2" >
          <a class="nav-link  active me-2" href="{{ url_for('home') }}">Home</a>
        </li>
        <li class="nav-item me-2">
          <a class="nav-link" href="#">About Us</a>
        </li>

        <li class="nav-item dropdown me-2">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">Rooms</a>
           <ul class="dropdown-menu">
             {% for rt in roomtypes %}
              <li><a class="dropdown-item" href="/?roomtypes_id={{ rt.id }}">{{ rt.name }}</a></li>
             {% endfor %}
          </ul>
        </li>


        <li class="nav-item me-2">
          <a class="nav-link" href="#">Contact</a>
        </li>


      {% if current_user.is_authenticated %}
      <li class="nav-item me-2">
            <a class="nav-link text-warning" href="/">
              <img src="{{ current_user.avatar }}" width="50" class="rounded-circle" />
                        Hello, {{ current_user.account.username }}.
            </a>
      </li>

      <form class="d-flex me-2" action="{{url_for('user_logout')}}">
        <button class="btn btn-outline-danger shadow-none fw-bold text-white me-lg-2 me-3" type="submit">Logout</button>
      </form>
      {% else %}
      <form class="d-flex" action="{{url_for('user_login')}}">
        <button class="btn btn-outline-success shadow-none fw-bold text-white me-lg-2 me-3" type="submit">Login</button>
      </form>
      </ul>
      {% endif %}

    </div>
  </div>
</nav>